@model IEnumerable<DataSystemFront.Domain.Models.TarefaModel>

@{
    ViewData["Title"] = "Tarefas";
}

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensagem"]
    </div>
}
<h1>Tarefas</h1>

@using (Html.BeginForm("Create", "Tarefa", FormMethod.Get))
{
        <button type="submit" class="btn btn-success">Nova Tarefa</button>
}
<form method="get" action="/Tarefa">
    <label for="status">Filtrar por Status:</label>
    <select name="status" id="status" onchange="this.form.submit()">
        <option value="">Selecione</option>
        <option value="">Todos</option>
        <option value="Pendente">Pendente</option>
        <option value="EmProgresso">Em Progresso</option>
        <option value="Concluido">Concluído</option>
    </select>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Título</label>
            </th>
            <th>
                <label>Descrição</label>
            </th>
            <th>
                <label>Data de Criação</label>
            </th>
            <th>
                <label>Data de Conclusão</label>
            </th>
            <th>
                <label>Status</label>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @using (Html.BeginForm("Edit", "Tarefa", FormMethod.Get))
                {
                        <input type="hidden" name="Id" value="@item.Id" />

                    <button type="submit" class="btn btn-primary">Editar</button>
                }
            </td>
            <td>
                    @using (Html.BeginForm("Details", "Tarefa", FormMethod.Get))
                {
                        <input type="hidden" name="Id" value="@item.Id" />

                    <button type="submit" class="btn btn-success">Detalhes</button>
                }
            </td>
            <td>
                    @using (Html.BeginForm("Delete", "Tarefa", FormMethod.Get))
                {
                        <input type="hidden" name="Id" value="@item.Id" />

                    <button type="submit" class="btn btn-danger">Deletar</button>
                }
            </td>
        </tr>
}
    </tbody>
</table>
